/* ======== Configurações ======== */

@font-face {
  font-family: 'Cloister';
  src: url(/fonts/CloisterBlack.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cloister', serif;
  text-decoration: none;
}

@keyframes inPage {
  0% {
    opacity: 0%;
    transform: translateX(400px);
  }

  100%{
    opacity: 100%;
    transform: translateX(0);
  }
}

.container-geral {
  width: 100%;
  background-image: url(../img/background-1440x1024.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main > .titulo-paginas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  margin-top: 1rem;
  animation: inPage 1.5s ease-out forwards;
}

main > .titulo-paginas > h1 {
  font-size: 4rem;
  font-weight: normal;
  margin-bottom: 2rem;
}

main > .titulo-paginas > a > .ler {
  width: 31.25rem;
  height: 6.25rem;
  background-color: transparent;
  color: white;
  font-size: 3rem;
  text-align: center;
  border: 5px solid white;
  transition: all .2s;
}

main > .titulo-paginas > a > .ler:hover {
  cursor: pointer;
  background-color: red;
  font-size: 3.25rem;
  width: 32.5rem;
  height: 7.5rem;
}

main > .titulo-paginas > audio {
  margin-top: 2rem;
}

.voltar {
  width: 8rem;
  height: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
  background-color: transparent;
  color: white;
  border: 3px solid white;
  cursor: pointer;
  transition: all .2s;
}

.voltar:hover {
  background-color: red;
  width: 8.25rem;
  height: 3.25rem;
  font-size: 1.1rem;
}

.container-paginas {
  width: 40rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pagina {
  width: 100%;
  margin-top: 2.1rem;
}

.pagina > img {
  width: 100%;
}